<Dinver>
  <pluginTag>DispersionCurve</pluginTag>
  <pluginTitle>Surface Wave Inversion</pluginTitle>
  <TargetList>
    <ModalCurveTarget type="dispersion">
      <selected>true</selected>
      <misfitWeight>1</misfitWeight>
      <minimumMisfit>0</minimumMisfit>
      <misfitType>L2_Normalized</misfitType>
      <ModalCurve>
        <name>OnTheFly.txt</name>
        <log>20 samples generated on the fly</log>
        <Mode>
          <slowness>Phase</slowness>
          <polarisation>Rayleigh</polarisation>
          <ringIndex>0</ringIndex>
          <index>0</index>
        </Mode>
        <StatPoint>
          <x>1.0</x>
          <mean>0.00216999730510555</mean>
          <stddev>0.00010849986525527751</stddev>
          <weight>1</weight>
          <valid>true</valid>
        </StatPoint>
        <StatPoint>
          <x>1.3216207294336002</x>
          <mean>0.0021871142991974108</mean>
          <stddev>0.00010935571495987055</stddev>
          <weight>1</weight>
          <valid>true</valid>
        </StatPoint>
        <StatPoint>
          <x>1.74668135246861</x>
          <mean>0.00220899942762776</mean>
          <stddev>0.00011044997138138802</stddev>
          <weight>1</weight>
          <valid>true</valid>
        </StatPoint>
        <StatPoint>
          <x>2.30845028313764</x>
          <mean>0.0022381794407075896</mean>
          <stddev>0.00011190897203537949</stddev>
          <weight>1</weight>
          <valid>true</valid>
        </StatPoint>
        <StatPoint>
          <x>3.05089574706158</x>
          <mean>0.0022814044835829</mean>
          <stddev>0.00011407022417914501</stddev>
          <weight>1</weight>
          <valid>true</valid>
        </StatPoint>
        <StatPoint>
          <x>4.03212706265741</x>
          <mean>0.0023576750989971</mean>
          <stddev>0.00011788375494985501</stddev>
          <weight>1</weight>
          <valid>true</valid>
        </StatPoint>
        <StatPoint>
          <x>5.32894270971826</x>
          <mean>0.00252098237969785</mean>
          <stddev>0.0001260491189848925</stddev>
          <weight>1</weight>
          <valid>true</valid>
        </StatPoint>
        <StatPoint>
          <x>7.04284115112774</x>
          <mean>0.00292909606420275</mean>
          <stddev>0.0001464548032101375</stddev>
          <weight>1</weight>
          <valid>true</valid>
        </StatPoint>
        <StatPoint>
          <x>9.30796485943845</x>
          <mean>0.00377743693576009</mean>
          <stddev>0.0001888718467880045</stddev>
          <weight>1</weight>
          <valid>true</valid>
        </StatPoint>
        <StatPoint>
          <x>12.3015993070734</x>
          <mean>0.00523190803415616</mean>
          <stddev>0.000261595401707808</stddev>
          <weight>1</weight>
          <valid>true</valid>
        </StatPoint>
        <StatPoint>
          <x>16.258048649414302</x>
          <mean>0.007346740905843559</mean>
          <stddev>0.00036733704529217796</stddev>
          <weight>1</weight>
          <valid>true</valid>
        </StatPoint>
        <StatPoint>
          <x>21.4869741152059</x>
          <mean>0.00944309729914089</mean>
          <stddev>0.00047215486495704454</stddev>
          <weight>1</weight>
          <valid>true</valid>
        </StatPoint>
        <StatPoint>
          <x>28.397630403459395</x>
          <mean>0.0108102759144384</mean>
          <stddev>0.00054051379572192</stddev>
          <weight>1</weight>
          <valid>true</valid>
        </StatPoint>
        <StatPoint>
          <x>37.5308970080059</x>
          <mean>0.0113634441573425</mean>
          <stddev>0.000568172207867125</stddev>
          <weight>1</weight>
          <valid>true</valid>
        </StatPoint>
        <StatPoint>
          <x>49.6016114800183</x>
          <mean>0.0115572780456936</mean>
          <stddev>0.0005778639022846801</stddev>
          <weight>1</weight>
          <valid>true</valid>
        </StatPoint>
        <StatPoint>
          <x>65.554517945304</x>
          <mean>0.0116165922984439</mean>
          <stddev>0.000580829614922195</stddev>
          <weight>1</weight>
          <valid>true</valid>
        </StatPoint>
        <StatPoint>
          <x>86.638209824541</x>
          <mean>0.0116309715043451</mean>
          <stddev>0.0005815485752172551</stddev>
          <weight>1</weight>
          <valid>true</valid>
        </StatPoint>
        <StatPoint>
          <x>114.50285406513201</x>
          <mean>0.0116333446911971</mean>
          <stddev>0.0005816672345598551</stddev>
          <weight>1</weight>
          <valid>true</valid>
        </StatPoint>
        <StatPoint>
          <x>151.329345511789</x>
          <mean>0.0116335651838132</mean>
          <stddev>0.00058167825919066</stddev>
          <weight>1</weight>
          <valid>true</valid>
        </StatPoint>
        <StatPoint>
          <x>200.0</x>
          <mean>0.0116335741595416</mean>
          <stddev>0.00058167870797708</stddev>
          <weight>1</weight>
          <valid>true</valid>
        </StatPoint>
      </ModalCurve>
    </ModalCurveTarget>
    <AutocorrTarget>
      <selected>false</selected>
      <misfitWeight>1</misfitWeight>
      <minimumMisfit>0</minimumMisfit>
      <misfitType>L2_NormalizedBySigmaOnly</misfitType>
      <AutocorrCurves>
      </AutocorrCurves>
    </AutocorrTarget>
    <ModalCurveTarget type="ellipticity">
      <selected>false</selected>
      <misfitWeight>1</misfitWeight>
      <minimumMisfit>0</minimumMisfit>
      <misfitType>L2_LogNormalized</misfitType>
    </ModalCurveTarget>
    <ValueTarget type="ellipticity peak">
      <selected>false</selected>
      <misfitWeight>1</misfitWeight>
      <minimumMisfit>0</minimumMisfit>
      <misfitType>L2_Normalized</misfitType>
      <StatValue>
        <mean>0</mean>
        <stddev>0</stddev>
        <weight>1</weight>
        <valid>false</valid>
      </StatValue>
    </ValueTarget>
    <RefractionTarget type="Vp">
      <selected>false</selected>
      <misfitWeight>1</misfitWeight>
      <minimumMisfit>0</minimumMisfit>
      <misfitType>L2_Normalized</misfitType>
    </RefractionTarget>
    <RefractionTarget type="Vs">
      <selected>false</selected>
      <misfitWeight>1</misfitWeight>
      <minimumMisfit>0</minimumMisfit>
      <misfitType>L2_Normalized</misfitType>
    </RefractionTarget>
  </TargetList>
</Dinver>
